<div class="row my-5">
    <!-- Navegacion de busqueda -->
    <nav class="navbar navbar-light bg-light mb-3">
      <div class="container-fluid">
          <h3 class="fs-3">Listado las materias por cada semestre</h3>
  
          <div class="d-flex">
            <button  class="btn btn-outline-success ms-2" data-bs-toggle="modal" data-bs-target="#materiasSemestre" > Escoger materias</button>
            <a class="btn btn-outline-primary ms-2" routerLink="../materia" > Ver todas las materias</a>
          </div>

      </div>
    </nav>
  <div class="col">
      <table class="table bg-light rounded shadow-sm table-bordered table-hover text-center">
          <thead>
              <tr>
                <th scope="col" class="ms-2">ID</th>
        <th scope="col">Materia</th>
        <th scope="col">periodo</th>
              </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let materia of materias_grado">
              <th scope="row" class="ms-2" >{{ materia.idMateria }}</th>
              <td>{{ materia.nombre }}</td>
          </tr>
          </tbody>
      </table>
  </div>
  </div>

  <!-- Modal para seleccionar las materias por semestre -->
<div
class="modal fade"
id="materiasSemestre"
data-bs-backdrop="static"
data-bs-keyboard="false"
tabindex="-1"
aria-labelledby="staticBackdropLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-dialog-centered">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title fs-4" id="staticBackdropLabel">Listado de materias de: {{'grado'}}</h5>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <div class="container">
          <div class="row ">
              <nav class="navbar navbar-light bg-light">
                  <div class="container-fluid">
                     
                  </div>
                </nav>
            <div class="col mt-4">
              <form action="">
                <div class="form-floating mb-2">
                    <select class="form-select" name="idSemestre" [(ngModel)]="materiasSemestre.idSemestre" id="tipoDocumento" aria-label="Floating label select example">
                        <option value="">Seleccione el semestre</option>
                        <option *ngFor="let semestre of semestres" value="{{semestre.idSemestre}}">{{semestre.nombre}}</option>
                      </select>
                      <label for="tipoDocumento">
                        Semestre
                      </label>
                </div>
                <div class="form-floating">
                    <select class="form-select" name="idMateria" [(ngModel)]="materiasSemestre.idMateria" id="tipoDocumento" aria-label="Floating label select example">
                        <option value="">Seleccione la materia</option>
                        <option *ngFor="let materia of materias_grado" value="{{materia.idMateria}}">{{materia.nombre}}</option>
                      </select>
                      <label for="tipoDocumento">Materia</label>
                </div>
              </form>
            </div>
          </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-success" (click)="agregarMateriasSemestre()" >
        Agregar
      </button>
    </div>
  </div>
</div>
</div>
