


<div class="row my-5">
  <!-- Navegacion de busqueda -->
  <nav class="navbar navbar-light bg-light mb-3">
    <div class="container-fluid">
        <h3 class="fs-3">Listado las materias</h3>

        <div class="d-flex">
          <a class="btn btn-outline-primary" routerLink="../materias-semestre" > Mis materias por semestre</a>
        </div>

      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
<div class="col">
    <table class="table bg-light rounded shadow-sm table-bordered table-hover text-center">
        <thead>
            <tr>
              <th scope="col" class="ms-2">ID</th>
      <th scope="col">Materia</th>
            </tr>
        </thead>
      
        <tbody>
          <tr *ngFor="let materia of materias_grado">
            <th scope="row" class="ms-2" >{{ materia.idMateria }}</th>
            <td>{{ materia.nombre }}</td>
        </tr>
        </tbody>
    </table>
</div>
</div>

