<!-- Modal -->
<div
  class="modal fade"
  id="materias"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="staticBackdropLabel">Listado de materias de: {{grado}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <div class="row ">
                <nav class="navbar navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modificarMateria" (click)="refresh()"> Agregar Materia</button>
                    </div>
                  </nav>
              <div class="col">
                <table class="table bg-white rounded shadow-sm table-hover" >
                  <thead>
                    <tr>
                      <th scope="col" class="ms-2">ID</th>
                      <th scope="col">Materia</th>
                      <th scope="col"></th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let materia of materias_grado">
                        <th scope="row" class="ms-2" >{{ materia.idMateria }}</th>
                        <td>{{ materia.nombre }}</td>
                        <td class=" d-flex justify-content-end" ><button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modificarMateria" (click)="cargarMateria(materia)"> <i class="fa-solid fa-pen-to-square"></i> </button> <button class="btn btn-danger" (click)="eliminarMateria(materia.idMateria)" > <i class="fa-solid fa-trash-can"></i></button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modificarMateria"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-4" id="staticBackdropLabel">{{titleModal}}</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
            <form action="" method="post">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" name="nombre" id="" [(ngModel)]="materia.nombre" class="form-control" required="true">
                </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="cancelar">
          Close
        </button>
        <div *ngIf="showAdd" >
          <button type="submit" class="btn btn-primary" (click)=" agregarMateria()">{{titleModal}}</button>
        </div>
        <div *ngIf="showUpdate" >
          <button type="submit" class="btn btn-primary" (click)=" actualizarMateria()">{{titleModal}}</button>
        </div>
      </div>
    </div>
  </div>
</div>

